﻿<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title - My Telerik MVC Application</title>

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")

    	<link href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2020.3.915/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.3.915/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.3.915/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.3.915/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
    <body>
        @RenderBody()
    </body>
</html>
